@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700');

:root {
  --primary_color: #282830;
  --secondary_color: #000;
  --tertiary_color: #fff;
  --quaternary_color: #ff8514;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  overflow: auto;
  background: var(--primary_color);
}

section {
  width: 100%;
  position: relative;
}

.navbar {
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2vw 6vw;
  background-color: var(--primary_color);
  z-index: 1000;
}

.menuitems {
  display: flex;
  margin: auto 0;
}

.menuitems li {
  list-style: none;
  margin: 0 1.5vw;
}

.menuitems li a {
  display: block;
  color: var(--tertiary_color);
  font-size: 1.6vh;
  letter-spacing: 4px;
  text-decoration: none;
  text-transform: uppercase;
}

.menuitems li:hover a {
  color: var(--secondary_color);
}

.menuitems li .current {
  color: var(--quaternary_color);
}

.menuitems li:hover .current {
  color: var(--quaternary_color);
}

.page {
  display: flex;
  max-height: 100vh;
  height: 100vh;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
  padding-top: 4vw;
}

#pages {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#pages::-webkit-scrollbar {
  display: none;
}

#pages .page {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}


.text_container {
  width: 100%;
  height: 40vh;
  padding: 15vw 10vw;
  z-index: 100;
  position: relative;
}

.text_container h1 {
  font-size: 18vw;
  line-height: 18vw;
  text-transform: capitalize;
}

.text_container h1::first-line {
  color: var(--tertiary_color);
  letter-spacing: 5px;
  text-shadow: 0 5px 10px rgba(0,0,0,0.5);

}

.text_container h2 {
  color: var(--tertiary_color);
  font-size: 5vw;
  font-weight: 300;
  text-align: left;
  margin-right: 10vw;
  text-transform: capitalize;
}

.text_container .btn {
  display: inline-block;
  color: #222;
  background: var(--tertiary_color);
  font-size: 1.5vw;
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 2px;
  padding: 6px 15px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.5);
  transition: 0.3s ease;
}

.text_container .btn {
  margin-top: 2vw;
  font-size: 2.5vw;
}

.text_container .btn:hover {
  letter-spacing: 2px;
  padding: 6px 18px;
  background-color: var(--quaternary_color);
}

.image_container {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 50vh;
  overflow: hidden;
}

.imgbox {
  min-width: 100vw;
  z-index: 1;
}

.imgbox img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.icons {
  position: fixed;
  top: 50%;
  right: -15vw;
  transform: translateY(-50%);
  z-index: 100;
}

.icons .fa {
  width: 20vw;
  padding: 1.7vw;
  font-size: 2.5vw;
  cursor: pointer;
  background: var(--tertiary_color);
  transition: 0.5s ease;
  margin-top: 10px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.5);

}

.icons .fa:hover {
  color: var(--quaternary_color);
  background-color: var(--primary_color);
  border-color: var(--secondary_color);
  transform: translateX(-10vw);
}

.icons .fa span {
  position: relative;
  font-size: 1.8vw;
  bottom: 0.3vw;
  margin-left: 1.8vw;
}

.icons a {
  color: var(--secondary_color);
}

.animblob {
  position: absolute;
  top: 50%;
  left: 45%;
  height: 80vh;
  width: 80vw;
  transform: translate(-50%, -50%);
  background: var(--quaternary_color);
  animation: animate_blob 8s linear infinite;
}

#resume {
  width: 90vw;
  height: 85vh;
}

@keyframes animate_blob {
  0%, 100% {
    border-radius: 65% 75% 70% 35% / 70% 50% 100% 40%;
  }

  25% {
    border-radius: 75% 65% 50% 55% / 60% 50% 90% 50%;
  }

  50% {
    border-radius: 85% 55% 55% 85% / 60% 80% 50% 90%;
  }

  75% {
    border-radius: 55% 85% 80% 60% / 90% 50% 60% 80%;
  }
}

@media screen and (max-width: 750px) {
  .page {
    max-height: 100vh;
  }

  .text_container {
    height: 40vh;
  }

  .image_container {
    height: 60vh;
  }

  .menuitems li a {
    font-size: 1vh;
  }
}

@media screen and (min-width: 591px) and (max-width: 750px) {
  .imgbox img {
    position: absolute;
    max-height: 60vh;
    width: auto;
    bottom: 0;
    right: 0;
  }
}

@media screen and (max-height: 900px) {
  .imgbox img {
    position: absolute;
    max-height: 60vh;
    width: auto;
    bottom: 0;
    right: 0;
  }
}

@media screen and (min-width: 751px) and (max-width: 1150px) {
  .imgbox img {
    position: absolute;
    max-height: 80vh;
    width: auto;
    bottom: 0;
    right: 0;
  }
}

@media screen and (min-width: 751px) {
  .page {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-height: 100vh;
  }

  .text_container {
    padding-top: 5rem;
    padding-right: 5rem;
    width: 50%;
  }

  .text_container h1 {
    font-size: 10vw;
    line-height: 10vw;
  }

  .text_container h2 {
    font-size: 2vw;
  }

  .imgbox img {
    position: absolute;
    height: auto;
    width: auto;
    bottom: 0;
    right: 0;
  }
}

.popup-overlay {
  display: none;
  visibility:hidden;
}

.popup-content {
  display: none;
  visibility:hidden;
}

.active {
  display: flex;
  visibility: visible;
  z-index: 1001;
}

.popup-overlay .active {
  position: fixed;
  flex-direction: column;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--primary_color);
  animation: modal_slide .3s linear;
  border: inset;
}

object p {
  padding: 2vw;
}

object p a {
  color: var(--quaternary_color)
}

@keyframes modal_slide {
  0% {
    top: -50%;
  }

  100% {
    top: 50%;
  }
}



