@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700');

:root {
  --primary-color: #282830;
  --secondary-color: #0c0c0c;
  --tertiary-color: #fff;
  --quaternary-color: #ff8514;
  --card-color: #171717;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: var(--secondary-color);
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  overflow: auto;
  background: var(--primary-color);
}

section {
  width: 100%;
  position: relative;
}

.navbar {
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2vw 6vw;
  background-color: var(--primary-color);
  z-index: 1000;
}

.menuitems {
  display: flex;
  margin: auto 0;
}

.menuitems li {
  list-style: none;
  margin: 0 1.5vw;
}

.menuitems li a {
  display: block;
  color: var(--tertiary-color);
  font-size: 1.6vh;
  letter-spacing: 4px;
  text-decoration: none;
  text-transform: uppercase;
}

.menuitems li:hover a {
  color: var(--secondary-color);
}

.menuitems li .current {
  color: var(--quaternary-color);
}

.menuitems li:hover .current {
  color: var(--quaternary-color);
}

.page {
  display: flex;
  max-height: 100vh;
  height: 100vh;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
  padding-top: 4vw;
}

#pages {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#pages::-webkit-scrollbar {
  display: none;
}

#pages .page {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}


.text_container {
  width: 100%;
  height: 100%;
  padding: 15vw 10vw;
  z-index: 100;
  position: relative;
}

.text_container h1 {
  font-size: 18vw;
  line-height: 18vw;
  text-transform: capitalize;
}

.text_container h1::first-line {
  color: var(--tertiary-color);
  letter-spacing: 5px;
  text-shadow: 0 5px 10px rgba(0,0,0,0.5);

}

.text_container h2 {
  color: var(--tertiary-color);
  font-size: 5vw;
  font-weight: 300;
  text-align: left;
  margin-right: 10vw;
  text-transform: capitalize;
}

.text_container .btn {
  display: inline-block;
  color: #222;
  background: var(--tertiary-color);
  font-size: 1.5vw;
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 2px;
  padding: 6px 15px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.5);
  transition: 0.3s ease;
}

.text_container .btn {
  margin-top: 2vw;
  font-size: 2.5vw;
}

.text_container .btn:hover {
  letter-spacing: 2px;
  padding: 6px 18px;
  background-color: var(--quaternary-color);
}

.text_container p {
  font-size: 1.8vh;
  font-weight: 900;
}

.image_container {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 50vh;
  overflow: hidden;
}

.imgbox {
  min-width: 100vw;
  z-index: 1;
}

.imgbox img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.icons {
  position: fixed;
  top: 50%;
  right: -15vw;
  transform: translateY(-50%);
  z-index: 100;
}

.icons .fa {
  width: 20vw;
  padding: 1.7vw;
  font-size: 2.5vw;
  cursor: pointer;
  background: var(--tertiary-color);
  transition: 0.5s ease;
  margin-top: 10px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.5);

}

.icons .fa:hover {
  color: var(--quaternary-color);
  background-color: var(--primary-color);
  border-color: var(--secondary-color);
  transform: translateX(-10vw);
}

.icons .fa span {
  position: relative;
  font-size: 1.8vw;
  bottom: 0.3vw;
  margin-left: 1.8vw;
}

.icons a {
  color: var(--secondary-color);
}

.animblob {
  position: absolute;
  top: 50%;
  left: 45%;
  height: 80vh;
  width: 80vw;
  transform: translate(-50%, -50%);
  background: var(--quaternary-color);
  animation: animate_blob 8s linear infinite;
}

#resume {
  width: 90vw;
  height: 85vh;
  max-width: calc(85vh * 1.8);
}

@keyframes animate_blob {
  0%, 100% {
    border-radius: 65% 75% 70% 35% / 70% 50% 100% 40%;
  }

  25% {
    border-radius: 75% 65% 50% 55% / 60% 50% 90% 50%;
  }

  50% {
    border-radius: 85% 55% 55% 85% / 60% 80% 50% 90%;
  }

  75% {
    border-radius: 55% 85% 80% 60% / 90% 50% 60% 80%;
  }
}

.popup-overlay {
  display: none;
  visibility:hidden;
}

.popup-content {
  display: none;
  visibility:hidden;
}

.active {
  display: flex;
  visibility: visible;
  z-index: 1001;
}

.popup-overlay .active {
  position: fixed;
  flex-direction: column;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--primary-color);
  animation: modal_slide .3s linear;
  border: inset;
}

object p {
  padding: 2vw;
}

object p a {
  color: var(--quaternary-color)
}

@keyframes modal_slide {
  0% {
    top: -50%;
  }

  100% {
    top: 50%;
  }
}

#projects {
  justify-content: center;
  align-items: center;
}

#projects .cards {
  left: 0vw;
}

.cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: left 500ms;
}

.card {
  background-color: var(--card-color);
  background-repeat: no-repeat;
  height: 90vw;
  width: 60vw;
  position: relative;
  border-radius: 10px;
  left: calc(calc(100vw * 3) - 70vw);
  margin-left: 40vw;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 5px 10px rgba(0,0,0,0.5);
  align-items: flex-start;
}

.card .card-background {
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto 100vh;
  background-position: 50%;
  border-radius: 10px;
  z-index: 4;
  transition: background-image 600ms;
}

/* .card .card-background:hover {
  filter: blur(8px);
  -webkit-filter: blur(8px);
} */

#discover-spotify-card .card-background {
  background-image: url("/assets/discover-spotify-card.png");
}

#atelier-webstore-card .card-background {
  background-image: url("/assets/atelier-webstore-card.png");
}

#address-book-card .card-background {
  background-image: url("/assets/address-book-card.png");
}

#guitar-piano-card .card-background {
  background-image: url("/assets/guitar-piano-card.png");
  background-position-x: -40vw;
  background-position-y: 15vh;
}

#chipotle-schedule-card .card-background {
  background-image: url("/assets/chipotle-schedule-card.png");
}

#yuumi-bot-card .card-background {
  background-image: url("/assets/yuumi-bot-card.png");
}

.card .card-content {
  z-index: 10;
}

.card .card-content .text_container {
  z-index: 1;
  font-size: 6vw;
  font-weight: 900;
  padding: 15px 15px;
  height: 50%;
  display: flex;
  flex-direction: column;
}

.card a {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  cursor: pointer;
  z-index: 3;
  background-color: rgb(0,0,0,0);
}

.card .card-content .text_container .card-title {
  color: var(--quaternary-color);
  text-shadow: .5px .5px 1px var(--secondary-color);
}

.card .card-content .text_container .card-subtitle {
  font-size: 4vw;
  color: var(--secondary-color);
  text-shadow: .5px .5px 1px var(--primary-color);
}

.card .card-content .github-logo a {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 4;
  height: 50%;
  width: 100%;
  align-items: flex-end;
  pointer-events: all;
}

.card .card-content .github-logo {
  pointer-events: none;
}

.card .card-content .github-logo a .fa {
  color: var(--quaternary-color);
}

.card a:link { text-decoration: none; }


.card a:visited { text-decoration: none; }


.card a:hover { text-decoration: none; }


.card a:active { text-decoration: none; }

.toggle {
  position: absolute;
  width: 100%;
  height: 90vw;
  align-items: center;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.toggle .toggle-btn {
  justify-content: center;
  padding: 9vw;
}

.toggle .toggle-btn .fa {
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}

.card .card-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card .card-content .image-wrapper {
  max-height: 100%;
}

.card .card-content img {
  max-height: 100%;
  overflow: hidden;
}


@media screen and (max-width: 750px) {
  .page {
    max-height: 100vh;
  }

  .text_container {
    height: 40vh;
  }

  .image_container {
    height: 60vh;
  }

  .menuitems li a {
    font-size: 1vh;
  }

  .card .card-content {
    visibility: visible !important;
  }
}

@media screen and (min-width: 591px) and (max-width: 750px) {
  .imgbox img {
    position: absolute;
    max-height: 60vh;
    width: auto;
    bottom: 0;
    right: 0;
  }
}

@media screen and (max-height: 900px) {
  .imgbox img {
    position: absolute;
    max-height: 60vh;
    bottom: 0;
    right: 0;
  }
}

@media screen and (min-width: 751px) {
  .imgbox img {
    position: absolute;
    max-height: 80vh;
    width: auto;
    bottom: 0;
    right: 0;
  }

  .card .card-content {
    visibility: hidden;
  }

  #yuumi-bot-card .card-background {
    background-image: url("/assets/yuumi-bot-card.png");
    background-position-x: 40vw;
    background-position-y: 10vh;
  }

  #address-book-card .card-background {
    background-image: url("/assets/address-book-card.png");
    background-position-x: 40vw;
    background-position-y: -40vh;
  }
}

@media screen and (min-width: 751px) {
  .page {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-height: 100vh;
  }

  .text_container {
    padding-top: 5rem;
    padding-right: 5rem;
  }

  .text_container h1 {
    font-size: 18vh;
    line-height: 18vh;
  }

  .text_container h2 {
    font-size: 2vh;
  }

  .imgbox img {
    position: absolute;
    height: auto;
    width: auto;
    bottom: 0;
    right: 0;
  }

  .card .card-content .text_container {
    width: 100%;
  }

  .card .card-content .text_container .card-title {
    font-size: 4vh;
  }

  .card .card-content .text_container .card-subtitle {
    font-size: 3vh;
  }

  .cards {
    margin-right: 3vw;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .card {
    height: 40vh;
    width: calc(40vh / 1.5);
    margin-left: 3vw;
    margin-bottom: 3vw;
    left: 0;
  }

  .toggle {
    visibility: hidden;
  }

  #projects .cards {
    margin-left: auto;
    margin-right: auto;
    max-width: 120vh;
  }

  @media screen and (min-height:850px) {
    .card {
      max-height: calc(28vw * 1.5);
      max-width: 28vw;
      margin-left: 2vw;
      margin-bottom: 2vw;
      left: 0;
    }

    .cards {
      margin-right: 2vw;
    }

    #projects .cards {
      margin-left: auto;
      margin-right: auto;
      max-width: 100vh;
    }

    .card .card-content .text_container .card-title {
      font-size: 3vh;
    }

    .card .card-content .text_container .card-subtitle {
      font-size: 2vh;
    }
  }

}

li {
  color: var(--tertiary-color);
}

li a {
  color: var(--tertiary-color)
}

#traffic {
  justify-content: flex-start;
}



#traffic .text_container p {
  color: var(--tertiary-color);
  width: 70%;
}

#traffic .text_container h3 {
  font-size: 4vh;
  line-height: 4vh;
}

.project_plea {
  margin-top: 10vh;
}

.project_plea .container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.project_plea input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.project_plea input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.project_plea input:checked ~ .checkmark:after {
  display: block;
}

.project_plea .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#resume_plea {
  margin-top: 5vh;
}